<div class="bottom-mother"  [ngClass]="IsLight == true ? 'light lightWhiteColor' : 'dark darkWhiteColor'">
    <div class="bottom-main">
        <p class="bottom-item">John hopkins university is going to send me a certificate for front-end development! From Coursera!</p>
        <p class="bottom-item">Learning Microservice from IBM kinda cool! What a technology!</p>
        <p class="bottom-item">Google`s Agile project Management from coursera! YAAAY!</p>
        <p class="bottom-item">PWA is not bad! I`m working on it.</p>
        <p class="bottom-item">Tailwind! Bootstrap is stopping me somewhere and i`m not sure that tailwind is enough or not.</p>
        <p class="bottom-item">I think i have a plan for ThreeJS! It`s very satisfying to add 3D models in my website and webApps.</p>
        <p class="bottom-item">Unity is going! I`m the team lead at Chaotic games! An educational team to learn unity. </p>
        <p class="bottom-item">What is .NET MaUI? I have to find out! I know it is Multi-platform App UI and it`s the evolution of xamarin but nothing more.</p>
    </div>
</div>