
  .st_c_c {
    display: inline-block;
    -webkit-animation: slide-from-bottom 800ms ease-out 0ms 1;
            animation: slide-from-bottom 800ms ease-out 0ms 1;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0, 0, 1);
            animation-timing-function: cubic-bezier(0.1, 0, 0, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    white-space: pre;
  }
  .st_c {
    display: inline-block;
    overflow: hidden;
  }
  .st_c:nth-child(20) .st_c_c {
    -webkit-animation-delay: 1425ms;
            animation-delay: 1425ms;
  }
  .st_c:nth-child(19) .st_c_c {
    -webkit-animation-delay: 1350ms;
            animation-delay: 1350ms;
  }
  .st_c:nth-child(18) .st_c_c {
    -webkit-animation-delay: 1275ms;
            animation-delay: 1275ms;
  }
  .st_c:nth-child(17) .st_c_c {
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms;
  }
  .st_c:nth-child(16) .st_c_c {
    -webkit-animation-delay: 1125ms;
            animation-delay: 1125ms;
  }
  .st_c:nth-child(15) .st_c_c {
    -webkit-animation-delay: 1050ms;
            animation-delay: 1050ms;
  }
  .st_c:nth-child(14) .st_c_c {
    -webkit-animation-delay: 975ms;
            animation-delay: 975ms;
  }
  .st_c:nth-child(13) .st_c_c {
    -webkit-animation-delay: 900ms;
            animation-delay: 900ms;
  }
  .st_c:nth-child(12) .st_c_c {
    -webkit-animation-delay: 825ms;
            animation-delay: 825ms;
  }
  .st_c:nth-child(11) .st_c_c {
    -webkit-animation-delay: 750ms;
            animation-delay: 750ms;
  }
  .st_c:nth-child(10) .st_c_c {
    -webkit-animation-delay: 675ms;
            animation-delay: 675ms;
  }
  .st_c:nth-child(9) .st_c_c {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
  }
  .st_c:nth-child(8) .st_c_c {
    -webkit-animation-delay: 525ms;
            animation-delay: 525ms;
  }
  .st_c:nth-child(7) .st_c_c {
    -webkit-animation-delay: 450ms;
            animation-delay: 450ms;
  }
  .st_c:nth-child(6) .st_c_c {
    -webkit-animation-delay: 375ms;
            animation-delay: 375ms;
  }
  .st_c:nth-child(5) .st_c_c {
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  .st_c:nth-child(4) .st_c_c {
    -webkit-animation-delay: 225ms;
            animation-delay: 225ms;
  }
  .st_c:nth-child(3) .st_c_c {
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms;
  }
  .st_c:nth-child(2) .st_c_c {
    -webkit-animation-delay: 75ms;
            animation-delay: 75ms;
  }
  .st_c:nth-child(1) .st_c_c {
    -webkit-animation-delay: 0ms;
            animation-delay: 0ms;
  }
  @-webkit-keyframes slide-from-bottom {
    from {
      transform: translateY(100%);
    }
  }
  @keyframes slide-from-bottom {
    from {
      transform: translateY(100%);
    }
  }
  @-webkit-keyframes slide-from-top {
    from {
      transform: translateY(-100%);
    }
  }
  @keyframes slide-from-top {
    from {
      transform: translateY(-100%);
    }
  }
  @-webkit-keyframes slide-from-left {
    from {
      transform: translateX(-100%);
    }
  }
  @keyframes slide-from-left {
    from {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes slide-from-right {
    from {
      transform: translateX(100%);
    }
  }
  @keyframes slide-from-right {
    from {
      transform: translateX(100%);
    }
  }
  