/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family:  Bold;
    src: url(assets/Fonts/Rubik-Bold.ttf);
  }
@font-face {
    font-family:  ExtraBold;
    src: url(assets/Fonts/Rubik-ExtraBold.ttf);
  }
@font-face {
    font-family:  Light;
    src: url(assets/Fonts/Rubik-Light.ttf);
  }
@font-face {
    font-family:  Medium;
    src: url(assets/Fonts/Rubik-Medium.ttf);
  }
@font-face {
    font-family:  Regular;
    src: url(assets/Fonts/Rubik-Regular.ttf);
  }
@font-face {
    font-family:  IranSansRegular;
    src: url(assets/Fonts/IRANSansXNoEn-Regular.woff);
  }
